<table class="vertical hidden">
<tr>
    <th class="empty"></th>
<% for (var i = 0; i < tableData.earningsData.length; i++) { %>
    <th class="color-<%= i %>"><%= params.regions[i].name %><div></div></th>
<% } %>
</tr>
<tr>
    <td class="category-header">Median Earnings<br>(All Workers)</td>
<% for (var i = 0; i < tableData.earningsData.length; i++) { %>
    <td class="color-<%= i %>"><%= numeral(tableData.earningsData[i][0].median_earnings).format('$0,0') %><div></div></td>
<% } %>
</tr>
<tr>
    <td class="category-header">Median Female Earnings<br>(Full Time)</td>
<% for (var i = 0; i < tableData.earningsData.length; i++) { %>
    <td class="color-<%= i %>"><%= numeral(tableData.earningsData[i][0].female_full_time_median_earnings).format('$0,0') %><div></div></td>
<% } %>
</tr>
<tr>
    <td class="category-header">Median Male Earnings<br>(Full Time)</td>
<% for (var i = 0; i < tableData.earningsData.length; i++) { %>
    <td class="color-<%= i %>"><%= numeral(tableData.earningsData[i][0].male_full_time_median_earnings).format('$0,0') %><div></div></td>
<% } %>
</tr>
</table>