<table class="vertical hidden">
<tr>
    <th class="empty"></th>
<% for (var i = 0; i < tableData.educationData.length; i++) { %>
    <th colspan="2" class="color-<%= i %>"><%= params.regions[i].name %><div></div></th>
<% } %>
</tr>
<tr class="sub-header-row">
    <td class="empty"></td>
<% for (var i = 0; i < tableData.educationData.length; i++) { %>
    <td>Percent</td><td class="color-<%= i %>">Percentile<div></div></td>
<% } %>
<tr>
    <td class="category-header">At Least Bachelor's Degree</td>
<% for (var i = 0; i < tableData.educationData.length; i++) { 

    var regionData = tableData.educationData[i][0];
    var totalRanks = parseInt(regionData.total_ranks);

    var bachelorsRank = parseInt(regionData.percent_bachelors_degree_or_higher_rank);
    var bachelorsPercentile = parseInt(((totalRanks - bachelorsRank) / totalRanks) * 100); 
%>
    <td><%= regionData.percent_bachelors_degree_or_higher %>%</td>
    <td class="color-<%= i %>"><%= numeral(bachelorsPercentile).format('0o') %><div></div></td>
<% } %>
</tr>
<tr>
    <td class="category-header">At Least High School Diploma</td>
<% for (var i = 0; i < tableData.educationData.length; i++) { 

    var regionData = tableData.educationData[i][0];
    var totalRanks = parseInt(regionData.total_ranks);

    var highSchoolRank = parseInt(regionData.percent_high_school_graduate_or_higher_rank);
    var highSchoolPercentile = parseInt(((totalRanks - highSchoolRank) / totalRanks) * 100);
%>
    <td><%= regionData.percent_high_school_graduate_or_higher %>%</td>
    <td class="color-<%= i %>"><%= numeral(highSchoolPercentile).format('0o') %><div></div></td>
<% } %>
</tr>
</table>