<table class="vertical hidden">
<tr>
    <th class="sub-header">Physical Environment</th>
<% for (var i = 0; i < tableData.length; i++) { %>
    <th class="color-<%= i %>"><%= params.regions[i].name %><div></div></th>
<% } %>
</tr>
<%- drawHealthTableRowVertical(tableData, 'Air Pollution - Particulate Matter', 'air_pollution_particulate_matter_value', '0.0') %>
<%- drawHealthTableRowVertical(tableData, 'Drinking Water Violations', 'drinking_water_violations_value', '0.0%') %>
<%- drawHealthTableRowVertical(tableData, 'Severe Housing Problems', 'severe_housing_problems_value', '0.0%') %>
<%- drawHealthTableRowVertical(tableData, 'Driving Alone to Work', 'driving_alone_to_work_value', '0.0%') %>
<%- drawHealthTableRowVertical(tableData, 'Long Commute - Driving Alone', 'long_commute_driving_alone_value', '0.0%') %>
</table>
