<table class="vertical hidden">
<tr>
    <th class="sub-header">Life Length</th>
<% for (var i = 0; i < tableData.healthData.length; i++) { %>
    <th class="color-<%= i %>"><%= params.regions[i].name %><div></div></th>
<% } %>
</tr>
<%- drawHealthTableRowVertical(tableData.healthData, 'Premature Death', 'premature_death_value', '0,0') %>
</table>

<table class="vertical hidden">
<tr>
    <th class="sub-header">Quality of Life</th>
<% for (var i = 0; i < tableData.healthData.length; i++) { %>
    <th class="color-<%= i %>"><%= params.regions[i].name %><div></div></th>
<% } %>
</tr>
<%- drawHealthTableRowVertical(tableData.healthData, 'Poor or Fair Health', 'poor_or_fair_health_value', '0.0%') %>
<%- drawHealthTableRowVertical(tableData.healthData, 'Poor Physical Health Days', 'poor_physical_health_days_value', '0.0') %>
<%- drawHealthTableRowVertical(tableData.healthData, 'Poor Mental Health Days', 'poor_mental_health_days_value', '0.0') %>
<%- drawHealthTableRowVertical(tableData.healthData, 'Low Birth Weight', 'low_birthweight_value', '0.0') %>
</table>