<section class="categories-section">
    <div class="container">
        <h4>Data Categories</h4>
        <ul>
          <% categories.forEach(function(result) { %>
            <li>
                <a href="/search?categories=<%= encodeURIComponent(result.category) %>">
                  <span class="icon" role="presentation">
                    <em class="fa <%= result.metadata.icon %>" aria-hidden="true"></em>
                  </span>
                  <strong><%= result.category %></strong>
                </a>
            </li>
          <% }); %>
        </ul>
        <div class="cb"></div>
    </div>
</section>

<section class="categories-section-mobile">
    <h4>Data Categories</h4>
    <a href class="categories-dropdown-mobile" aria-controls="dataCategoriesList" aria-expanded="false">Select a Category<em class="fa fa-caret-down" aria-hidden="true"></em></a>
    <ul class="categories-list-mobile" id="dataCategoriesList">
        <% categories.forEach(function(result) { %>
        <li>
            <h3>
                <a href="/search?categories=<%= encodeURIComponent(result.category) %>">
                    <em class="fa <%= result.metadata.icon %>" aria-hidden="true"></em>
                    <%= result.category %>
                </a>
            </h3>
        </li>
        <% }); %>
    </ul>
</section>
