<section class="regions-section">
    <div class="container">
        <h4>Geographical Regions</h4>
        <ul class="states-list states-list-collapsed">

          <% if (locations) locations.forEach(location => { %>
            <li class="state state-collapsed">
                <h3>
                    <em class="fa fa-map-marker" aria-hidden="true"></em>
                    <a href="/region/<%= location.id %>/<%= location.name %>"><%= location.name %></a>
                    <a href class="small-api-link" tabindex="0" aria-owns="api_info_box_<%= location.id %>" aria-haspopup="true" aria-expanded="false" aria-label="Get API for <%= location.name %>">API</a>
                </h3>
                <div class="api-info-box" id="api_info_box_<%= location.id %>">
                    <a href class="fa fa-close" autofocus aria-label="Close API info box"></a>
                    <strong>
                        <a href="http://docs.odn.apiary.io/#reference/0/entity-relationships" target="_blank">/entity/v1/child</a>
                    </strong>
                    <dl>
                        <dt>Examples:</dt>
                        <dd><a href="<%= GlobalConstants.ODN_API_BASE_URL %>/entity/v1/child?entity_id=<%= location.id %>&limit=5&app_token=cQovpGcdUT1CSzgYk0KPYdAI0" target="_blank">Metros in <%= location.name %></a></dd>
                        <dd><a href="<%= GlobalConstants.ODN_API_BASE_URL %>/entity/v1/child?entity_id=<%= location.id %>&limit=5&app_token=cQovpGcdUT1CSzgYk0KPYdAI0" target="_blank">Counties in <%= location.name %></a></dd>
                        <dd><a href="<%= GlobalConstants.ODN_API_BASE_URL %>/entity/v1/child?entity_id=<%= location.id %>&limit=5&app_token=cQovpGcdUT1CSzgYk0KPYdAI0" target="_blank">Cities in <%= location.name %></a></dd>
                        <dt>API Docs:</dt>
                        <dd><a href="http://docs.odn.apiary.io/#reference/0/relatives/find-the-relatives-of-an-entity" target="_blank">Find the relatives of an entity</a></dd>
                    </dl>
                </div>
                <ul class="regions-list">
                  <% for (var i = 0; i < location.msas.length; i++) { %>
                    <li class="region">
                        <a href="<%= location.msas[i].url %>"><%= location.msas[i].name %></a>
                    </li>
                  <% } %>
                </ul>
                <ul class="regions-list">
                  <% for (var i = 0; i < location.counties.length; i++) { %>
                    <li class="region">
                        <a href="<%= location.counties[i].url %>"><%= location.counties[i].name %></a>
                    </li>
                  <% } %>
                </ul>
                <ul class="regions-list">
                  <% for (var i = 0; i < location.cities.length; i++) { %>
                    <li class="region">
                        <a href="<%= location.cities[i].url %>"><%= location.cities[i].name %></a>
                    </li>
                  <% } %>
                </ul>
                <a href class="more-subregions-link" aria-label="Show more regions in <%= location.name %>">Show More</a>
             </li>
          <% }) %>

        </ul>
        <div class="cb"></div>
        <a href class="more-regions-link" aria-label="View More Regions">Show More</a>
    </div>
</section>

<section class="regions-section-mobile">
    <h4>Geographical Regions</h4>
    <ul class="states-list-mobile">
      <% if (locations) locations.forEach(function(location) { %>
        <li>
            <h3>
                <a class="state-link-mobile" href="/region/<%= location.id %>/<%= location.name %>">
                    <em class="fa fa-map-marker" aria-hidden="true"></em>
                    <%= location.name %>
                </a>
                <a href class="state-expand-mobile" region-id="<%= location.id %>" aria-controls="region_<%=location.id %>" aria-expanded="false" role="tab"><em class="fa fa-plus"></em><span class="sr-only">Show all regions in <%= location.name %></span></a>
            </h3>

            <div class="sub-regions-container-<%=location.id %>-mobile sub-regions-container-mobile" id="region_<%=location.id %>" aria-hidden="false" role="tabpanel" aria-label="All regions in <%= location.name %>">
                <ul class="sub-regions-list-mobile">
                    <% for (var i = 0; i < location.msas.length; i++) { %>
                    <li>
                        <a href="<%= location.msas[i].url %>"><%= location.msas[i].name %></a>
                    </li>
                    <% } %>
                    <% for (var i = 0; i < location.counties.length; i++) { %>
                    <li>
                        <a href="<%= location.counties[i].url %>"><%= location.counties[i].name %></a>
                    </li>
                    <% } %>
                    <% for (var i = 0; i < location.cities.length; i++) { %>
                    <li>
                        <a href="<%= location.cities[i].url %>"><%= location.cities[i].name %></a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </li>
      <% }) %>
    </ul>
</section>
