
<% if (questions.length > 0)) { %>
    <div class="questions-mobile">
        <div class="question-list-header-mobile">
            <div id="question-mobile">
                What is the <%= metric.name %> of <%= params.regions[0].name %><% if ((params.year != null) && (params.year.length > 0)) { %> in <%= params.year %><% } %>?
            </div>
          <% if (questions.length > 0) { %>
            <i class="fa fa-caret-down odn-caret"></i>
          <% } %>
        </div>
      <% if (questions.length > 0) { %>
        <ul>
          <% for (var i = 0; i < questions.length; i++) { %>
            <li>
                <a href="<%= questions[i].url %>">What is the <%= questions[i].variable_name %> of <%= questions[i].entity.name %>?</a>
            </li>
          <% } %>
        </ul>
      <% } %>
    </div>
<% } %>

