<div class="quick-links-container">
    <a href class="quick-links-button-wide" role="button" tabindex="0" aria-owns="quick_links_dd_menu_dkp" aria-haspopup="true" aria-expanded="false">Quick Links<em class="fa fa-caret-down" aria-hidden="true"></em></a>

    <a href class="quick-links-button-narrow" role="button" tabindex="0" aria-owns="quick_links_dd_menu_mobile" aria-haspopup="true" aria-expanded="false"><em class="fa fa-bars" aria-hidden="true"></em><span class="sr-only">Quick Links menu</span></a>

    <div class="quick-links-menu-container-mobile">
        <div class="quick-links-menu-inner-container-mobile">
            <ul class="quick-links-menu-list-mobile" id="quick_links_dd_menu_mobile">
                <li id="quick-link-menu-list-item-categories-mobile">
                    <a href class="quick-links-menu-header-mobile" aria-owns="quick_links_categories_menu" aria-haspopup="true" aria-expanded="false">
                        Categories
                        <em class="quick-links-expand-caret-mobile fa fa-caret-down" aria-hidden="true"></em>
                    </a>
                    <ul class="quick-links-menu-sub-list-mobile" id="quick_links_categories_menu" role="menu">
                        <% quickLinks.categories.forEach(function(category, index) { %>
                            <li role="option">
                                <a href="/search?categories=<%- encodeURIComponent(category.category) %>&ref=<%= quickLinks.ref %>">
                                    <div>
                                        <em class="fa <%- category.metadata.icon %>"></em>
                                        <%= category.category %>
                                    </div>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                </li>
                <li id="quick-link-menu-list-item-regions-mobile">
                    <a href class="quick-links-menu-header-mobile" aria-owns="quick_links_regions_menu" aria-haspopup="true" aria-expanded="false">
                        Regions
                        <em class="quick-links-expand-caret-mobile fa fa-caret-down" aria-hidden="true"></em>
                    </a>
                    <ul class="quick-links-menu-sub-list-mobile" id="quick_links_regions_menu" role="menu">
                        <% quickLinks.regions.forEach(function(region, index) { %>
                            <li role="option">
                                <a href="/region/<%= region.id %>/<%= region.name %>&ref=<%= quickLinks.ref %>">
                                    <%= region.name %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                </li>
                <li id="quick-link-menu-list-item-publishers-mobile">
                    <a href class="quick-links-menu-header-mobile" aria-owns="quick_links_publishers_menu" aria-haspopup="true" aria-expanded="false">
                        Publishers
                        <em class="quick-links-expand-caret-mobile fa fa-caret-down" aria-hidden="true"></em>
                    </a>
                    <ul class="quick-links-menu-sub-list-mobile" id="quick_links_publishers_menu" role="menu">
                    <% quickLinks.domains.forEach(function(domain, index) { %>
                        <li role="option">
                            <a href="/search?domains=<%- encodeURIComponent(domain.domain) %>&ref=<%= quickLinks.ref %>">
                                <%= domain.domain %>
                            </a>
                        </li>
                    <% }); %>
                    </ul>
                </li>
                <li id="quick-link-menu-list-item-standards-mobile">
                    <a href class="quick-links-menu-header-mobile" aria-owns="quick_links_standards_menu" aria-haspopup="true" aria-expanded="false">
                        Standards
                        <em class="quick-links-expand-caret-mobile fa fa-caret-down" aria-hidden="true"></em>
                    </a>
                    <ul class="quick-links-menu-sub-list-mobile" id="quick_links_standards_menu" role="menu">
                        <li role="option"><a href="/search?tags=blds&ref=<%= quickLinks.ref %>">BLDS</a></li>
                        <li role="option"><a href="/search?tags=lives&ref=<%= quickLinks.ref %>">LIVES</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="quick-links-menu-container">
        <div class="quick-links-menu-inner-container">
            <div class="quick-links-menu" id="quick_links_dd_menu_dkp">
                <div>
                    <ul class="quick-links-sub-menu quick-links-categories">
                        <li>Categories</li>
                    <% quickLinks.categories.forEach(function(category, index) { %>
                        <li<%- (index > 4) ? ' class="quick-links-hidden"' : '' %>><a href="/search?categories=<%- encodeURIComponent(category.category) %>&ref=<%= quickLinks.ref %>"><em class="fa <%- category.metadata.icon %>"></em><%= category.category %></a></li>
                    <% }); %>
                    </ul>
                </div>
                <div>
                    <ul class="quick-links-sub-menu">
                        <li>Regions</li>
                    <% quickLinks.regions.forEach(function(region, index) { %>
                        <li<%- (index > 4) ? ' class="quick-links-hidden"' : '' %>><a href="/region/<%= region.id %>/<%= region.name %>&ref=<%= quickLinks.ref %>"><%= region.name %></a></li>
                    <% }); %>
                    </ul>
                </div>
                <div>
                    <ul class="quick-links-sub-menu">
                        <li>Publisher</li>
                    <% quickLinks.domains.forEach(function(domain, index) { %>
                        <li<%- (index > 4) ? ' class="quick-links-hidden"' : '' %>><a href="/search?domains=<%- encodeURIComponent(domain.domain) %>&ref=<%= quickLinks.ref %>"><%= domain.domain %></a></li>
                    <% }); %>
                    </ul>
                </div>
                <div>
                    <ul class="quick-links-sub-menu">
                        <li>Standards</li>
                        <li><a href="/search?tags=blds&ref=<%= quickLinks.ref %>">BLDS</a></li>
                        <li><a href="/search?tags=lives&ref=<%= quickLinks.ref %>">LIVES</a></li>
                    </ul>
                </div>
            </div>
            <a class="quick-links-more" href tabindex="0" aria-label="Show more quick links">More</a>
        </div>
    </div>
</div>
