<div class="refine-controls-mobile">
    <div class="refine-results-link-container-mobile<%= refinePopupCollapsed ? '' : ' refine-controls-mobile-hidden' %>">
        <a class="refine-results-link-mobile">Refine Results</a>
    </div>
    <div class="refine-popup-mobile<%= refinePopupCollapsed ? ' refine-controls-mobile-hidden' : '' %>">
        <div class="refine-popup-mobile-container">
            <div class="refine-popup-inner-container-mobile">
                <div class="refine-similar-regions-mobile">
                    <a id="refine-close-mobile" class="fa fa-caret-up"></a>
                    <label>Data for</label>
                    <ul class="displayed-regions-list-mobile">
                      <% params.regions.forEach(function(region) { %>
                        <li class="region-token">
                            <div><%= region.name %></div>
                            <a class="fa fa-times-circle"></a>
                        </li>
                      <% }); %>
                    </ul>
                    <div class="add-region-mobile">
                        <i class="fa fa-plus"></i>
                        <input type="text" class="add-region-input-mobile" placeholder="Add Location">
                        <ul class="add-region-results-mobile"></ul>
                    </div>
                </div>
                <% if (params.regions.length == 1) { %><% include _questions-mobile %><% } %>
                <ul class="refine-menu-list-mobile">
                    <li class="refine-menu-list-item-topics-mobile">
                        <a class="refine-menu-header-mobile">
                            <%= topic.name %>
                            <i class="fa fa-caret-down odn-caret"></i>
                        </a>
                        <ul>
                          <% topics.forEach(topic => { %>
                            <li>
                                <a href="<%= getSearchPageUrl(topic) %>"<%- (params.regions.length >= 3) ? ' rel="nofollow"' : '' %>>
                                    <%= topic.name %>
                                </a>
                            </li>
                          <% }); %>
                        </ul>
                    </li>
                    <li class="refine-menu-list-item-datasets-mobile">
                        <a class="refine-menu-header-mobile">
                            <%= dataset.name %>
                            <i class="fa fa-caret-down odn-caret"></i>
                        </a>
                        <ul>
                          <% datasets.forEach(dataset => { %>
                            <li>
                                <a href="<%= dataset.navigateUrl %>"><%= dataset.name %></a>
                            </li>
                          <% }); %>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
