
<section class="refine">
    <a class="refine-link">
        <span>Categories<i class="fa fa-caret-down"></i></span>
        <ul id="refine-menu-categories" style="display:none">
        <% if (typeof categories != 'undefined' && categories.length > 0) { %>
            <% categories.forEach(function(category) { %>
                <li><i class="fa <%= category.metadata.icon %>"></i><%= category.category %></li>
           <% }); %>
       <% } %>
            <li id="refine-menu-categories-view-more" class="refine-view-more">View More...</li>
        </ul>
    </a>

    <a class="refine-link">
        <span>Publishers<i class="fa fa-caret-down"></i></span>
        <ul id="refine-menu-domains" style="display:none">
          <% domainResults.results.forEach(function(result) { %>
            <li><%= result.domain %></li>
          <% }); %>
            <li id="refine-menu-domains-view-more" class="refine-view-more">View More...</li>
        </ul>
    </a>


    <label class="refine-by-label">Refine by:</label>

    <% if (params.q.length > 0) { %>
          <% if (searchResults.results.length > 0) { %>
            <strong><%= searchResults.resultSetSizeString %></strong> results for <strong>"<%= params.q %>"</strong>
          <% } else { %>
            <strong>No results for "<%= params.q %>"</strong>
          <% } %>
    <% } else { %>
        <% if (searchResults.results.length > 0) { %>
          <% if (params.regions.length > 0) { %>
            <strong><%= searchResults.resultSetSizeString %></strong> results for
            <strong><%= source.tabName %></strong>
          <% } else { %>
            <strong><%= searchResults.resultSetSizeString %></strong> results
          <% } %>
        <% } %>
    <% } %>

    <% include _search-tokens %>
</section>

