
<div class="controls-column">
    <div class="controls" role="navigation">
        <% if (session_inbound_url) { %>
            <p class="redirect-to-inbound-url" title="<%= session_inbound_url_description %>">
                <a class="btn return-btn" href="<%= session_inbound_url%>"><em class="fa fa-reply" aria-hidden="true"></em> <%= session_inbound_url_description %></a>
            </p>
        <% } %>
        <h2>Data for</h2>
        <div class="region-tokens">
            <ul class="tokens">
                <% include _entity-search-tokens %>
            </ul>
        </div>
        <% include questions/_questions %>

        <div id="peers">
            <h2>Compare this Data</h2>

            <div class="add-region">
                <i class="fa fa-plus"></i><input class="add-region-input" type="text" placeholder="Add Location">
                <ul class="add-region-results" style="display: none;"></ul>
            </div>

            <% if (related.peer.length > 0) { %>
                <ul id="similar-regions">
                    <% related.peer[0].entities.forEach(region => { %>
                        <li>
                            <a class="region-link" href="<%= navigate.add(region).ref('related-peer').url() %>" <%- (entities.length >= 2) ? ' rel="nofollow"' : '' %>>
                                <%= region.name %> <em class="fa fa-plus"></em>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </div>

        <% if (related.sibling.length > 0) { %>
            <div id="siblings">
                <h2 class="places-in-region-header">
                    Others in
                    <% const parentRegion = related.parent[0].entities[0]; %>
                    <a class="parent-link" href="<%= navigate.to(parentRegion).clearVariable().ref('related-parent').url() %>"><%= parentRegion.name %></a>
                </h2>

                <ul class="places-in-region-list">
                    <% related.sibling[0].entities.forEach(region => { %>
                        <li><a class="region-link" href="<%= navigate.to(region).ref('related-sibling').url() %>"><%= region.name %></a></li>
                    <% }); %>
                </ul>
            </div>
        <% } %>

        <% if (related.child.length > 0) { %>
            <% related.child.forEach(relative => { %>
                <% if (relative.entities.length > 0) { %>
                    <div class="children" id="<%= relative.type %>">
                        <h2 class="places-in-region-header">
                            <%= GlobalConfig.regions.plural_names[relative.type] || 'Regions' %> in <%= entities[0].name %>
                        </h2>

                        <ul class="places-in-region-list">
                            <% relative.entities.forEach(child => { %>
                                <li><a class="region-link" href="<%= navigate.to(child).clearVariable().url() %>"><%= child.name %></a></li>
                            <% }); %>
                        </ul>
                    </div>
                <% } %>
            <% }); %>
        <% } %>
    </div>

    <div class="footer">
        <ul class="footer-links">
            <li><a class="blue-link" href="http://socrata.com/company-info/">About Socrata</a></li>
            <li><a class="blue-link" href="http://www.opendatanetwork.com/join-open-data-network">Join the Network</a></li>
        </ul>
        <a href="http://socrata.com/company-info/"><img src="/images/v3-powered-by-socrata.png" alt="Powered By Socrata"></a>
    </div>
</div>
