
<div class="controls-column">
    <div class="controls">
        <% if (session_inbound_url) { %>
            <p class="redirect-to-inbound-url" title="<%= session_inbound_url_description %>">
                <a class="btn return-btn" href="<%= session_inbound_url%>"><em class="fa fa-reply" aria-hidden="true"></em> <%= session_inbound_url_description %></a>
            </p>
        <% } %>
        <h2>Data for</h2>
        <div class="region-tokens">
            <% include _search-tokens %>
        </div>
        <% include _questions %>
        <h2>
          <% if (related.peer.length > 0) { %>
            <a id="related-peer-info-box-button" class="small-api-link">API</a>
          <% } %>
            Compare this Data
        </h2>
        <div id="related-peer-info-box" class="api-info-box">
            <a class="fa fa-close"></a>
            <strong>
                <a href="http://docs.odn.apiary.io/#reference/0/entity-relationships" target="_blank">/entity/v1/peer</a>
            </strong>
            <dl>
                <dt>Example:</dt>
            <% entities.forEach(region => { %>
                <dd><a href="<%= GlobalConstants.ODN_API_BASE_URL %>/entity/v1/peer?entity_id=<%= region.id %>&limit=5&app_token=cQovpGcdUT1CSzgYk0KPYdAI0" target="_blank">Peers of <%= region.name %></a></dd>
            <% }); %>
                <dt>API Docs:</dt>
                <dd><a href="http://docs.odn.apiary.io/#reference/0/entity-relationships/find-the-relatives-of-an-entity" target="_blank">Find the relatives of an entity</a></dd>
            </dl>
        </div>
        <div class="add-region">
            <i class="fa fa-plus"></i><input class="add-region-input" type="text" placeholder="Add Location">
            <ul class="add-region-results" style="display: none;"></ul>
        </div>

    <% if (related.peer.length > 0) { %>
        <ul id="similar-regions">
        <% related.peer[0].entities.forEach(region => { %>
            <li><a class="region-link" href=<%= region.addURL %><%- (entities.length >= 2) ? ' rel="nofollow"' : '' %>><%= region.name %> <i class="fa fa-plus"></i></a></li>
        <% }); %>
        </ul>
    <% } %>

        <%
        const PLURALS = {
            nation: 'Nations',
            region: 'Regions',
            division: 'Divisions',
            state: 'States',
            county: 'Counties',
            place: 'Places',
            msa: 'Metro Areas',
            zip_code: 'ZIP Codes'
        };
        %>

        <% if (related.sibling.length > 0) { %>
            <h2 class="places-in-region-header">
                <a id="related-sibling-info-box-button" class="small-api-link">API</a>
                Others in
                <% const parentRegion = related.parent[0].entities[0]; %>
                <a class="parent-link" href="<%= parentRegion.navigateURL %>"><%= parentRegion.name %></a>
            </h2>
            <div id="related-sibling-info-box" class="api-info-box">
                <a class="fa fa-close"></a>
                <strong>
                    <a href="http://docs.odn.apiary.io/#reference/0/entity-relationships" target="_blank">/entity/v1/sibling</a>
                </strong>
                <dl>
                    <dt>Example:</dt>
                <% entities.forEach(region => { %>
                    <dd><a href="<%= GlobalConstants.ODN_API_BASE_URL %>/entity/v1/sibling?entity_id=<%= region.id %>&limit=5&app_token=cQovpGcdUT1CSzgYk0KPYdAI0" target="_blank">Siblings of <%= region.name %></a></dd>
                <% }); %>
                    <dt>API Docs:</dt>
                    <dd><a href="http://docs.odn.apiary.io/#reference/0/entity-relationships/find-the-relatives-of-an-entity" target="_blank">Find the relatives of an entity</a></dd>
                </dl>
            </div>
            <ul class="places-in-region-list">
                <% related.sibling[0].entities.forEach(region => { %>
                    <li><a class="region-link" href="<%= region.navigateURL %>"><%= region.name %></a></li>
                <% }); %>
            </ul>
        <% } %>

        <% if (related.child.length > 0) { %>
            <% related.child.forEach(relative => { %>
                <% var relativeType = relative.type.substring(relative.type.indexOf('.') + 1); %>
                <% if (relative.entities.length > 0) { %>
                    <h2 class="places-in-region-header">
                        <a id="related-child-<%= relativeType %>-info-box-button" class="small-api-link">API</a>
                        <%= PLURALS[relativeType] %> in <%= entities[0].name %>
                    </h2>

                    <div id="related-child-<%= relativeType %>-info-box" class="api-info-box">
                        <a class="fa fa-close"></a>
                        <strong>
                            <a href="http://docs.odn.apiary.io/#reference/0/entity-relationships" target="_blank">/entity/v1/child</a>
                        </strong>
                        <dl>
                            <dt>Example:</dt>
                        <% entities.forEach(region => { %>
                            <dd><a href="<%= GlobalConstants.ODN_API_BASE_URL %>/entity/v1/child?entity_id=<%= region.id %>&limit=5&app_token=cQovpGcdUT1CSzgYk0KPYdAI0" target="_blank">Children of <%= region.name %></a></dd>
                        <% }); %>
                            <dt>API Docs:</dt>
                            <dd><a href="http://docs.odn.apiary.io/#reference/0/entity-relationships/find-the-relatives-of-an-entity" target="_blank">Find the relatives of an entity</a></dd>
                        </dl>
                    </div>

                    <ul class="places-in-region-list">
                        <% relative.entities.forEach(child => { %>
                            <li><a class="region-link" href="<%= child.navigateURL %>"><%= child.name %></a></li>
                        <% }); %>
                    </ul>
                <% } %>
            <% }); %>
        <% } %>

        <h2 id="places-in-region-header-0" class="places-in-region-header" style="display:none"></h2>
        <ul id="places-in-region-list-0" class="places-in-region-list" style="display:none"></ul>
        <h3 id="places-in-region-header-1" class="places-in-region-header" style="display:none"></h3>
        <ul id="places-in-region-list-1" class="places-in-region-list" style="display:none"></ul>
    </div>
    <div class="footer">
        <ul class="footer-links">
            <li><a class="blue-link" href="http://www.socrata.com/company-info/">About Socrata</a></li>
            <li><a class="blue-link" href="http://www.opendatanetwork.com/join-open-data-network">Join the Network</a></li>
        </ul>
        <a href="http://www.socrata.com/company-info/"><img src="/images/v3-powered-by-socrata.png"></a>
    </div>
</div>
