<div class="charts-column">
    <% include _refine-controls-mobile %>
    <div class="refine-controls">
        <div class="chart-tabs-container">
            <a id="data-availability-info-box-button" class="small-api-link">API</a>
            <ul class="chart-tabs">
                <% topics.forEach(topic => { %>
                    <li class="<%= topic.selected ? 'selected' : '' %>">
                        <a href="<%= getSearchPageUrl(topic) %>"<%- (params.regions.length >= 3) ? ' rel="nofollow"' : '' %>>
                            <%= topic.name %>
                        </a>
                    </li>
                <% }); %>
            </ul>
            <div id="data-availability-info-box" class="api-info-box">
                <a class="fa fa-close"></a>
                <strong>
                    <a href="http://docs.odn.apiary.io/#reference/0/data-availability/find-all-available-data-for-some-entities" target="_blank">/data/v1/availability</a>
                </strong>
                <p>
                    Header information including available variables with pointers to populate charts for 
                    <%= params.regions.map(region => region.name).join(', ') %> is available 
                    <a href="http://api.opendatanetwork.com/data/v1/availability/?entity_id=<%= params.regions.map(region => region.id).join(',') %>&app_token=cQovpGcdUT1CSzgYk0KPYdAI0" target="_blank">HERE</a>.
                </p>
                <dl>
                    <dt>API Docs:</dt>
                    <dd><a href="http://docs.odn.apiary.io/#reference/0/data-availability/find-all-available-data-for-some-entities" target="_blank">Find all available data for some entities</a></dd>
                </dl>
            </div>
        </div>
        <div class="chart-sub-nav-container">
            <a id="data-constraint-info-box-button" class="small-api-link">API</a>
            <ul class="chart-sub-nav">
                <li>
                    <span>
                        <%= dataset.name %>
                        <% if (datasets.length > 1) { %>
                            <i class="fa fa-caret-down odn-caret"></i>
                        <% } %>
                    </span>
                    <% if (datasets.length > 1) { %>
                        <ul class="chart-sub-nav-menu">
                            <% datasets.forEach(dataset =>  { %>
                                <li><a href="<%= dataset.navigateUrl %>"><%= dataset.name %></a></li>
                            <% }); %>
                        </ul>
                    <% } %>
                </li>
            </ul>
            <div id="data-constraint-info-box" class="api-info-box">
                <a class="fa fa-close"></a>
                <strong>
                    <a href="http://docs.odn.apiary.io/#reference/0/data-constraints/get-constraint-permutations-for-entities" target="_blank">/data/v1/constraint</a>
                </strong>
                <p>
                    Constraint information for year permutations for 
                    <%= params.regions.map(region => region.name).join(', ') %> is available 
                    <a href="http://api.opendatanetwork.com/data/v1/constraint/demographics.population.count?entity_id=<%= params.regions.map(region => region.id).join(',') %>&constraint=year&app_token=cQovpGcdUT1CSzgYk0KPYdAI0" target="_blank">HERE</a>.
                </p>
                <dl>
                    <dt>API Docs:</dt>
                    <dd><a href="http://docs.odn.apiary.io/#reference/0/data-constraints/get-constraint-permutations-for-entities" target="_blank">Get constraint permutations for entities</a></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="map-container">
        <p id="map-summary" style="display: <%= mapSummary === '' ? 'none' : 'block' %>">
            <a id="map-info-box-button" class="small-api-link">API</a>
            <%= mapSummary %>
        </p>
        <div id="map-info-box" class="api-info-box">
            <a class="fa fa-close"></a>
            <section class="api-info-box-section">
                <strong>
                    <a href="http://docs.odn.apiary.io/#reference/0/map-creation" target="_blank">/data/map/new</a>
                </strong>
                <p>
                    Create a new map for
                    <% params.regions.forEach((region, index) => { %><%= (index > 0) ? ', ' : '' %>
                        <a href="http://api.opendatanetwork.com/data/v1/map/new?variable=<%= variable.id %>&year=<%= constraint.constraint_value %>&entity_id=<%= region.id %>&app_token=cQovpGcdUT1CSzgYk0KPYdAI0" target="_blank"><%= region.name %></a><%
                    }); %>
                </p>
                <dl>
                    <dt>API Docs:</dt>
                    <dd>
                        <a href="http://docs.odn.apiary.io/#reference/0/map-creation/create-a-map" target="_blank">Create a new map</a>
                    </dd>
                </dl>
            </section>
            <section class="api-info-box-section">
                <strong>
                    <a href="http://docs.odn.apiary.io/#reference/0/map-data" target="_blank">/data/map/values</a>
                </strong>
                </p>
                    Get data for a map for
                    <% params.regions.forEach((region, index) => { %><%= (index > 0) ? ', ' : '' %>
                        <a href="http://api.opendatanetwork.com/data/v1/map/values?session_id=[SESSION_ID_FROM_MAP_NEW_CALL]&zoom_level=2&bounds=47.5998951,-122.33707,47.5942794,-122.3270522&app_token=cQovpGcdUT1CSzgYk0KPYdAI0" target="_blank"><%= region.name %></a><%
                    }); %>
                </p>
                <dl>
                    <dt>API Docs:</dt>
                    <dd>
                        <a href="http://docs.odn.apiary.io/#reference/0/map-data/get-map-data" target="_blank">Get data for a map</a>
                    </dd>
                </dl>
            </section>
        </div>
        <div id="map-container-desktop">
            <div id="map-container">
                <div id="map"></div>
                <% include _map-summary %>
            </div>
        </div>
    </div>
    <div class="charts-container">
        <div id="google-charts-container">
        <% if (datasetConfig) { %>
          <% datasetConfig.charts.forEach(chart => { %>
            <div id="<%= chart.chartId %>" class="chart">
                <h1>
                    <%= chart.name %>
                    <a id="<%= chart.chartId %>-info-box-button" class="small-api-link">API</a>
                </h1>
                <div id="<%= chart.chartId %>-info-box" class="api-info-box">
                    <a class="fa fa-close"></a>
                    <strong>
                        <a href="http://docs.odn.apiary.io/#reference/0/data-values/get-values-for-variables" target="_blank">/data/values</a> Endpoint
                    </strong>
                    <dl>
                        <dt>Example:</dt>
                      <% chart.variables.forEach((variable, index) => { %>
                        <dd>
                            <%= variable.variableId %>
                            for
                          <% params.regions.forEach((region, index) => { %><%= (index > 0) ? ', ' : '' %>
                            <a href="http://api.opendatanetwork.com/data/v1/values?variable=<%= variable.variableId %>&entity_id=<%= region.id %><%= getConstraintQueryString(chart) %>&app_token=cQovpGcdUT1CSzgYk0KPYdAI0" target="_blank"><%= region.name %></a><% 
                          }); %>
                        </dd>
                      <% }); %>
                        <dt>API Docs:</dt>
                        <dd><a href="http://docs.odn.apiary.io/#reference/0/data-values/get-values-for-variables" target="_blank">Get values for variables</a></dd>
                    </dl>
                </div>
                <div id="chart-<%= chart.chartId %>" class="chart-container"></div>
              <% if (chart.description) { %>
                <div class="dataset-description">
                    <p class="chart-description"><%- chart.description %></p>
                </div>
              <% } %>
            </div>
          <% }); %>
        <% } %>
        </div>
        <% if (dataset.description || (datasetConfig && datasetConfig.attribution)) { %>
        <div class="dataset-description">
            <% if (dataset.description) { %>
            <p id="dataset-description"><%- dataset.description %></p>
            <% } %>

            <% if (datasetConfig && datasetConfig.attribution) { %>
            <p class="attribution">
                Above charts are based on data from the
                <% i = 0 %>
                <% datasetConfig.attribution.forEach(attributionItem => { %>
                    <% if (i == datasetConfig.attribution.length) { %>
                        and
                    <% } else if (i > 1) { %>
                        ,
                    <% } %>
                    <a href="<%= attributionItem.url %>"><%= attributionItem.name %></a> |
                    <% i = i + 1; %>
                <% }); %>
                <% if (datasetConfig.sourceURL) { %>
                    <a href="<%= datasetConfig.sourceURL %>">Data Source</a> |
                <% } %>
                <% if (datasetConfig.datasetURL) { %>
                    <a href="<%= datasetConfig.datasetURL %>">ODN Dataset</a> |
                <% } %>
                <% if (datasetConfig.apiURL) { %>
                    <a href="<%= datasetConfig.apiURL %>">API</a> -
                <% } %>
                <span class="info-icon">
                    <span class="info-tooltip">
                        <strong>Notes:</strong>
                        <br><br>
                        1. ODN datasets and APIs are subject to change and may differ in format from the original source data in order to provide a user-friendly experience on this site.
                        <br><br>
                        2. To build your own apps using this data, see the ODN Dataset and API links.
                        <br><br>
                        3. If you use this derived data in an app, we ask that you provide a link somewhere in your applications to the Open Data Network with a citation that states: "Data for this application was provided by the Open Data Network" where "Open Data Network" links to http://opendatanetwork.com. Where an application has a region specific module, we ask that you add an additional line that states: "Data about REGIONX was provided by the Open Data Network." where REGIONX is an HREF with a name for a geographical region like "Seattle, WA" and the link points to this page URL, e.g. http://opendatanetwork.com/region/1600000US5363000/Seattle_WA
                    </span>
                </span>
            </p>
            <% } %>
        </div>
        <% } %>
        <div id="map-container-mobile"></div>
    </div>
<% if (searchResults && searchResults.datasets && searchResults.datasets.length > 0) { %>
    <div class="search-results-container">
        <div class="search-results-header">
            <h2>
                <span class="result-count"><%= searchResults.resultSetSizeString %></span>
                <%= topic.name %> and <%= dataset.name %>
                Dataset<%= searchResults.resultSetSizeString > 1 ? 's' : '' %>
                Involving
                <%= regionNames %>
            </h2>
        </div>
        <ul class="search-results">
            <% include _search-dataset-items %>
        </ul>
    </div>
<% } %>
</div>

<%
function getConstraintQueryString(chart) {

    if (!chart.constraint)
        return '';

    return '&' + querystring.stringify(chart.constraint);
}

function getSearchPageUrl(topic) {
  
    var url;

    if (params.regions.length > 0) {

        url = '/region';

        // Region ids
        //
        var regionIds = params.regions.map(function(region) {
            return region.id;
        });

        url += '/' + regionIds.join('-');

        // Region names
        //
        var regionNames = params.regions.map(function(region) {
            return regionToUrlSegment(region.name);
        });

        url += '/' + regionNames.join('-');

        // Vector
        //
        const dataset = _.toArray(topic.datasets)[0];
        const vector = dataset.id.split('.')[1];

        url += '/' + vector;
    }
    else {

        url = '/search';
    }

    url += getSearchQueryString();

    return url;
}

function getSearchQueryString() {

    var parts = [];

    if (params.q.length > 0)
        parts.push('q=' + encodeURIComponent(params.q));

    if (params.page > 1)
        parts.push('page=' + params.page);

    if (params.categories.length > 0)
        params.categories.forEach(category => parts.push('categories=' + encodeURIComponent(category)));

    if (params.domains.length > 0)
        params.domains.forEach(domain => parts.push('domains=' + encodeURIComponent(domain)));

    if (params.tags.length > 0)
        params.tags.forEach(tag => parts.push('tags=' + encodeURIComponent(tag)));

    return (parts.length > 0) ? '?' + parts.join('&') : '';
};
%>
