<div class="charts-column">
    <% include _refine-controls-mobile %>
    <div class="refine-controls">
        <div class="chart-tabs-container">
            <a id="data-availability-info-box-button" class="small-api-link">API</a>
            <ul class="chart-tabs">
                <% topics.forEach(topic => { %>
                    <li class="<%= topic.selected ? 'selected' : '' %>">
                        <a href="<%= getSearchPageUrl(topic) %>"<%- (params.regions.length >= 3) ? ' rel="nofollow"' : '' %>>
                            <%= topic.name %>
                        </a>
                    </li>
                <% }); %>
            </ul>
            <div id="data-availability-info-box" class="api-info-box">
                <a class="fa fa-close"></a>
                <strong>
                    <a href="http://docs.odn.apiary.io/#reference/0/data-availability/find-all-available-data-for-some-entities" target="_blank">/data/availability</a> Endpoint
                </strong>
                <p>
                    Header information including available variables with pointers to populate charts for 
                    <%= params.regions.map(region => region.name).join(', ') %> is available 
                    <a href="http://odn-backend.herokuapp.com/data/v1/availability/?entity_id= <%= params.regions.map(region => region.id).join(',') %>" target="_blank">HERE</a>.
                </p>
                <dl>
                    <dt>API Docs:</dt>
                    <dd><a href="http://docs.odn.apiary.io/#reference/0/data-availability/find-all-available-data-for-some-entities" target="_blank">Find all available data for some entities</a></dd>
                </dl>
            </div>
        </div>
        <div class="chart-sub-nav-container">
            <a id="data-constraint-info-box-button" class="small-api-link">API</a>
            <ul class="chart-sub-nav">
                <li>
                    <span>
                        <%= dataset.name %>
                        <% if (datasets.length > 1) { %>
                            <i class="fa fa-caret-down odn-caret"></i>
                        <% } %>
                    </span>
                    <% if (datasets.length > 1) { %>
                        <ul class="chart-sub-nav-menu">
                            <% datasets.forEach(dataset =>  { %>
                                <li><a href="<%= dataset.navigateUrl %>"><%= dataset.name %></a></li>
                            <% }); %>
                        </ul>
                    <% } %>
                </li>
            </ul>
            <div id="data-constraint-info-box" class="api-info-box">
                <a class="fa fa-close"></a>
                <strong>
                    <a href="http://docs.odn.apiary.io/#reference/0/data-constraints/get-constraint-permutations-for-entities" target="_blank">/data/constraint</a> Endpoint
                </strong>
                <p>
                    Constraint information for year permutations for 
                    <%= params.regions.map(region => region.name).join(', ') %> is available 
                    <a href="http://odn-backend.herokuapp.com/data/v1/constraint/demographics.population.count?entity_id=<%= params.regions.map(region => region.id).join(',') %>&constraint=year" target="_blank">HERE</a>.
                </p>
                <dl>
                    <dt>API Docs:</dt>
                    <dd><a href="http://docs.odn.apiary.io/#reference/0/data-constraints/get-constraint-permutations-for-entities" target="_blank">Get constraint permutations for entities</a></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="charts-container">
        <p id="map-summary" style="display: <%= mapSummary === '' ? 'none' : 'block' %>">
            <%= mapSummary %>
        </p>
        <div id="map-container-desktop">
            <div id="map-container">
                <div id="map"></div>
            <% if ('mapDescription' in source) { %>
                <div class="dataset-description map-description">
                    <p><%= source.mapDescription %></p>
                </div>
            <% } %>
                <% include _map-summary %>
            </div>
        </div>
        <div id="google-charts-container">
          <% datasetConfig.charts.forEach(chart => { %>
            <div id="<%= chart.variableId.replace(/\./g, '-') %>" class="chart">
                <h1 class="chart-title"><%= chart.name %></h1>
                <div id="chart-<%= chart.variableId.replace(/\./g, '-') %>" class="chart-container"></div>
            </div>
          <% }); %>
        </div>
        <div class="dataset-description">
            <p class="attribution">
                Above charts are based on data from the
                <% datasetConfig.attribution.forEach((attributionItem, index) => { %>
                    <%= (index > 0) ? ' | ' : '' %>
                    <a href="<%= attributionItem.url %>"><%= attributionItem.name %></a>
                <% }); %>
            </p>
        </div>
        <div id="map-container-mobile"></div>
    </div>
<% if (searchResults && searchResults.resultSetSize > 0) { %>
    <div class="search-results-container">
        <div class="search-results-header">
            <h2>
                <span class="result-count"><%= searchResults.resultSetSizeString %></span>
                <%= topic.name %> and <%= dataset.name %>
                Dataset<%= searchResults.resultSetSizeString > 1 ? 's' : '' %>
                Involving
                <%= regionNames %>
            </h2>
        </div>
        <ul class="search-results">
            <% include _search-results-items %>
        </ul>
    </div>
<% } %>
</div>

<%
function getSearchPageUrl(topic) {
  
    var url;

    if (params.regions.length > 0) {

        url = '/region';

        // Region ids
        //
        var regionIds = params.regions.map(function(region) {
            return region.id;
        });

        url += '/' + regionIds.join('-');

        // Region names
        //
        var regionNames = params.regions.map(function(region) {
            return regionToUrlSegment(region.name);
        });

        url += '/' + regionNames.join('-');

        // Vector
        //
        const dataset = _.toArray(topic.datasets)[0];
        const vector = dataset.id.split('.')[1];

        url += '/' + vector;
    }
    else {

        url = '/search';
    }

    url += getSearchQueryString();

    return url;
}

function getSearchQueryString() {

    var parts = [];

    if (params.q.length > 0)
        parts.push('q=' + encodeURIComponent(params.q));

    if (params.page > 1)
        parts.push('page=' + params.page);

    if (params.categories.length > 0)
        params.categories.forEach(category => parts.push('categories=' + encodeURIComponent(category)));

    if (params.domains.length > 0)
        params.domains.forEach(domain => parts.push('domains=' + encodeURIComponent(domain)));

    if (params.tags.length > 0)
        params.tags.forEach(tag => parts.push('tags=' + encodeURIComponent(tag)));

    return (parts.length > 0) ? '?' + parts.join('&') : '';
};
%>