<section class="refine-bar search-header-bar">
    <a class="refine-link">
        <span>Categories<i class="fa fa-caret-down"></i></span>
        <ul id="refine-menu-categories" style="display:none">
          <% refineBy.categories.forEach(function(category) { %>
            <li><i class="fa <%= category.metadata.icon %>"></i><%= category.category %></li>
          <% }); %>
            <li id="refine-menu-categories-view-more" class="refine-view-more">More</li>
        </ul>
    </a>

    <a class="refine-link">
        <span>Publishers<i class="fa fa-caret-down"></i></span>
        <ul id="refine-menu-domains" style="display:none">
          <% refineBy.domains.forEach(function(domain) { %>
            <li><%= domain.domain %></li>
          <% }); %>
            <li id="refine-menu-domains-view-more" class="refine-view-more">More</li>
        </ul>
    </a>

    <label class="refine-by-label">Refine by:</label>
    <i class="fa fa-bar-chart search-results-header-icon"></i>
    <label class="search-results-header-label">
    <% if (params.q.length > 0) { %>
          <% if (searchResults.results.length > 0) { %>
            Found <%= searchResults.resultSetSizeString %> datasets for "<%= params.q %>"
          <% } else { %>
            No datasets for "<%= params.q %>"
          <% } %>
    <% } else { %>
        <% if (searchResults.results.length > 0) { %>
          <% if (params.regions.length > 0) { %>
            Found <%= searchResults.resultSetSizeString %> datasets for <%= source.tabName %>
          <% } else { %>
            Found <%= searchResults.resultSetSizeString %> results
          <% } %>
        <% } else { %>
            Found 0 results
        <% } %>
    <% } %>
    </label>

    <% include _search-tokens %>
</section>
