<section class="refine-bar search-header-bar">

    <a id="catalog-info-box-button" class="small-api-link">API</a>

    <a class="refine-link">
        <span>Categories<i class="fa fa-caret-down"></i></span>
        <ul id="refine-menu-categories" style="display:none">
          <% refineBy.categories.forEach(category => { %>
            <li><i class="fa <%= category.metadata.icon %>"></i><%= category.category %></li>
          <% }); %>
            <li id="refine-menu-categories-view-more" class="refine-view-more">More</li>
        </ul>
    </a>

    <a class="refine-link">
        <span>Publishers<i class="fa fa-caret-down"></i></span>
        <ul id="refine-menu-domains" style="display:none">
          <% refineBy.domains.forEach(domain => { %>
            <li><%= domain.domain %></li>
          <% }); %>
            <li id="refine-menu-domains-view-more" class="refine-view-more">More</li>
        </ul>
    </a>

    <label class="refine-by-label">Refine by:</label>
    <i class="fa fa-bar-chart search-results-header-icon"></i>
    <label class="search-results-header-label">
    <% if (params.q.length > 0) { %>
          <% if (searchResults.results.length > 0) { %>
            Found <%= searchResults.resultSetSizeString %> datasets for "<%= params.q %>"
          <% } else { %>
            No datasets for "<%= params.q %>"
          <% } %>
    <% } else { %>
        <% if (searchResults.results.length > 0) { %>
          <% if (params.regions.length > 0) { %>
            Found <%= searchResults.resultSetSizeString %> datasets for <%= dataset.name %>
          <% } else { %>
            Found <%= searchResults.resultSetSizeString %> results
          <% } %>
        <% } else { %>
            Found 0 results
        <% } %>
    <% } %>
    </label>

    <% include _search-tokens %>
</section>

<div id="catalog-info-box" class="api-info-box">
    <a class="fa fa-close"></a>
    <strong>
        <a href="http://docs.cetera.apiary.io/#reference/0/full-text-search" target="_blank">/catalog/v1</a> Endpoint
    </strong>
    <dl>
      <% if (params.q.length > 0) { %>
        <dt>Example:</dt>
        <dd><a href="http://api.us.socrata.com/api/catalog/v1?q=<%= params.q %>" target="_blank">Search for <%= params.q %></a></dd>
      <% } %>
        <dt>API Docs:</dt>
        <dd>
          <a href="http://docs.cetera.apiary.io/#reference/0/full-text-search" target="_blank">Full text search</a>
        <% if (params.domains.length > 0) { %>
          or <a href="http://docs.cetera.apiary.io/#reference/0/searching-particular-domains" target="_blank">Search particular domains</a>
        <% } %>
        <% if (params.categories.length > 0) { %>
          or <a href="http://docs.cetera.apiary.io/#reference/0/searching-particular-categories" target="_blank">Search particular categories</a>
        <% } %>
        </dd>
    </dl>
</div>
