<section class="refine-bar search-header-bar">
    <div class="refine-link" role="navigation">
        <span>Categories<em class="fa fa-caret-down"></em></span>
        <ul id="refine-menu-categories" style="display:none">
            <% refineBy.categories.forEach(category => { %>
                <li>
                    <a href="<%- searchNavigate.addCategory(category.category).url() %>">
                        <em class="fa <%= category.metadata.icon %>"></em>
                        <%= category.category %>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>

    <div class="refine-link">
        <span>Publishers<em class="fa fa-caret-down"></em></span>
        <ul id="refine-menu-domains" style="display:none">
            <% refineBy.domains.forEach(domain => { %>
                <li>
                    <a href="<%- searchNavigate.addDomain(domain.domain).url() %>">
                        <%= domain.domain %>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>

    <label class="refine-by-label">Refine by:</label>
    <em class="fa fa-bar-chart search-results-header-icon"></em>
    <label class="search-results-header-label">
        <% if (query.length > 0) { %>
            <% if (datasets.length > 0) { %>
                Datasets for "<%= query %>"
            <% } else { %>
                No datasets for "<%= query %>"
            <% } %>
        <% } else { %>
            Datasets
        <% } %>
    </label>

    <% include _search-tokens %>
</section>

<div id="catalog-info-box"></div>

