<% include document-header %>
<% include bar-header %>

<div class="content">
    <table>
        <tr>
            <th>Sector</th>
            <th>Housing</th>
            <th>Restaurant Inspections</th>
            <th>Transit</th>
            <th>Health</th>
            <th>Crime</th>
            <th>Permits</th>
        </tr>
      <% results.forEach(function(result) { %>
        <tr class="content-row">
            <td>
                <a class="content-title" href="<%= result.url %>"><%= result.title %></a>
<% if (result.description) { %>
                <p class="description"><%= result.description %></p>
<% } %>
<% if (result.population) { %>
                <p class="population"><%= result.population %></p></td>
<% } %>
            </td>
            <td class="content-data">
                <a href="<%= result.url %>/browse?q=housing&sortBy=relevance&utf8=%E2%9C%93"><%= result.housing %></a>
            </td>
            <td class="content-data">
                <a href="<%= result.url %>/browse?q=restaurant%20inspections&sortBy=relevance&utf8=%E2%9C%93"><%= result.restaurant_inspections %></a>
            </td>
            <td class="content-data">
                <a href="<%= result.url %>/browse?q=transit&sortBy=relevance&utf8=%E2%9C%93"><%= result.transit %></a>
            </td>
            <td class="content-data">
                <a href="<%= result.url %>/browse?q=health&sortBy=relevance&utf8=%E2%9C%93"><%= result.health %></a>
            </td>
            <td class="content-data">
                <a href="<%= result.url %>/browse?q=crime&sortBy=relevance&utf8=%E2%9C%93"><%= result.crime %></a>
            </td>
            <td class="content-data">
                <a href="<%= result.url %>/browse?q=permits&sortBy=relevance&utf8=%E2%9C%93"><%= result.permits %></a>
            </td>
        </tr>
      <% }); %>
    </table>
</div>

<% include bar-footer %>
<% include document-footer %>