<% include document-header %>
<% include bar-header %>

<div class="content">
    <table>
        <tr>
            <th>Sector</th>
            <th>Housing</th>
            <th>Restaurant Inspections</th>
            <th>Transit</th>
            <th>Health</th>
            <th>Crime</th>
            <th>Permits</th>
        </tr>
      <% results.forEach(function(result) { %>
        <tr>
            <td><a href="<%= result.url %>"><%= result.title %></a></td>
            <td>
              <% if (result.housing > 0) { %>
                <a href="<%= result.url %>/browse?q=housing&sortBy=relevance&utf8=%E2%9C%93"><%= result.housing %></a>
              <% } else { %>
                0
              <% } %>
            </td>
            <td>
              <% if (result.restaurant_inspections > 0) { %>
                <a href="<%= result.url %>/browse?q=restaurant%20inspections&sortBy=relevance&utf8=%E2%9C%93"><%= result.restaurant_inspections %></a>
              <% } else { %>
                0
              <% } %>
            </td>
            <td>
              <% if (result.transit > 0) { %>
                <a href="<%= result.url %>/browse?q=transit&sortBy=relevance&utf8=%E2%9C%93"><%= result.transit %></a>
              <% } else { %>
                0
              <% } %>
            </td>
            <td>
              <% if (result.health > 0) { %>
                <a href="<%= result.url %>/browse?q=health&sortBy=relevance&utf8=%E2%9C%93"><%= result.health %></a>
              <% } else { %>
                0
              <% } %>
            </td>
            <td>
              <% if (result.crime > 0) { %>
                <a href="<%= result.url %>/browse?q=crime&sortBy=relevance&utf8=%E2%9C%93"><%= result.crime %></a>
              <% } else { %>
                0
              <% } %>
            </td>
            <td>
              <% if (result.permits > 0) { %>
                <a href="<%= result.url %>/browse?q=permits&sortBy=relevance&utf8=%E2%9C%93"><%= result.permits %></a>
              <% } else { %>
                0
              <% } %>
            </td>
        </tr>
      <% }); %>
    </table>
</div>

<% include bar-footer %>
<% include document-footer %>