<% include document-header %>
<% include bar-header %>

<script src="/scripts/jquery-slides.min.js"></script>
<script src="/scripts/home.min.js"></script>

<div id="hero">
    <div id="hero-words">
        <h1>Data the Way You Want It.</h1>
        <p>Introducing the Open Data Network,<br>the new hub for the vibrant and growing open data ecosystem.</p>
    </div>    
    <div id="hero-start-exploring-container">
        <a id="hero-start-exploring" href="/explore">START EXPLORING</a>
    </div>
    <a id="hero-mini-map" href="https://data.opendatanetwork.com/browse?sortBy=relevance&utf8=%E2%9C%93&q=map"><img src="/images/hero-mini-map.png" alt="Mini map"></a>
    <label id="hero-image-label">Data Delivering the American Dream</label>
</div>

<div class="content">
    <div id="slides">
        <div id="slides-list">
        <% slides.forEach(function(slide) { %>
          <% if (slide.modalUrl != null) { %>
            <a href="<%= slide.url %>" data-toggle="modal" data-target="#article-modal" data-remote="<%= slide.modalUrl %>">
          <% } else { %>
            <a href="<%= slide.url %>">
          <% } %>
            <img src="<%= slide.image %>" alt="<%= slide.title %>"></a>
        <% }); %>
            <a href="#" class="slidesjs-previous slidesjs-navigation"><img src="/images/slides-left-button.png"></a>
            <a href="#" class="slidesjs-next slidesjs-navigation"><img src="/images/slides-right-button.png"></a>        
        </div>
    </div>
</div>
  
<div class="content">

        <% columns.forEach(function(column, columnIndex) { %>
        <div class="col-<%= columnIndex %>">

            <% column.forEach(function(tile) { %>
            <a class="tile tile-<%= tile.type %>" 

<% if (tile.modalUrl != null) { %>
                data-toggle="modal"
                data-target="#article-modal"
                data-remote="<%= tile.modalUrl %>"
<% } %>
                href="<%= tile.url %>">
                
                <% if (tile.image != null) { %>
                <img class="tile-image" src="<%= tile.image %>">
                <% } %>

                <% if (tile.category != null) { %>
                <div class="tile-category"><%= tile.category %></div>
                <% } %>

                <div class="tile-title-container">              
                    <div class="tile-title"><%= tile.title %></div>                  
                    <% if (tile.text != null) { %>
                    <div class="tile-text"><%= tile.text %></div>
                    <% } %>
                </div>
            </a>
            <% }); %>

        </div>
      <% }); %>

</div>

<div class="content">
    <div id="logo-container">
        <label>Participating Members</label>
        <a id="logo-drive" href="http://www.drivedecisions.com/"><img src="/images/logo-drive.png" alt="DRiVE"></a>
        <a id="logo-ontodia" href="http://www.ontodia.com/"><img src="/images/logo-ontodia.png" alt="Ontodia"></a>
        <a id="logo-realty-trac" href="http://www.realtytrac.com/"><img src="/images/logo-realty-trac.png" alt="RealtyTrac"></a>
        <a id="logo-site-compli" href="http://www.sitecompli.com/"><img src="/images/logo-site-compli.png" alt="SiteCompli"></a>
        <a id="logo-zillow" href="http://www.zillow.com/"><img src="/images/logo-zillow.png" alt="Zillow"></a>
        <a id="logo-build-fax" href="http://www.buildfax.com/"><img src="/images/logo-build-fax.png" alt="BuildFax"></a>
        <a id="logo-building-eye" href="https://buildingeye.com/"><img src="/images/logo-building-eye.png" alt="BuildingEye"></a>
        <a id="logo-civic-insight" href="http://civicinsight.com/"><img src="/images/logo-civic-insight.png" alt="CivicInsight"></a>
        <a id="logo-appallicious" href="http://www.appallicious.com/"><img src="/images/logo-appallicious.png" alt="Appallicious"></a>
        <a id="logo-basic-gov" href="http://www.basicgov.com/"><img src="/images/logo-basic-gov.png" alt="BasicGov"></a>
        <a id="logo-accela" href="http://www.accela.com/"><img src="/images/logo-accela.png" alt="Accela"></a>
        <a id="logo-citiesense" href="http://www.citiesense.com/"><img src="/images/logo-citiesense.png" alt="Citiesense"></a>
        <a id="logo-see-click-fix" href="http://seeclickfix.com/"><img src="/images/logo-see-click-fix.png" alt="SeeClickFix"></a>
    </div>
</div>

<div class="content">
    <div id="orange-footer">
        <div id="orange-footer-tag-line">Your data is more valuable when it's here.</div>
        <a id="orange-footer-start-exploring" href="/explore">Start Exploring</a>
    </div>
</div>

<div id="article-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-content">
        </div>
    </div>
</div>

<% include bar-footer %>
<% include document-footer %>