<% include header %>

<script src="/scripts/jquery.slides.js"></script>
<script src="/scripts/home.js"></script>

<div id="hero">
    <img id="hero-image" src="/images/hero-background.jpg" alt="Food Trucks in New York City">
    <div id="hero-words">
      <h1>Data the Way You Want It.</h1>
      <p>Introducing the Open Data Network,<br>the new hub for the vibrant and growing open data ecosystem.</p>
    </div>    
    <div id="hero-start-exploring-container">
      <a id="hero-start-exploring" href="/explore">START EXPLORING</a>
    </div>
    <a id="hero-mini-map" href="https://odn.demo.socrata.com/browse?sortBy=relevance&utf8=%E2%9C%93&q=map"><img src="/images/hero-mini-map.png" alt="Mini map"></a>
    <label id="hero-image-label">Data Delivering the American Dream</label>
</div>

<div class="content">
    <div id="slides">
        <div id="slides-list">
          <% slides.forEach(function(slide) { %>
            <a href="<%= slide.url %>"><img src="<%= slide.image %>" alt="<%= slide.title %>"></a>
          <% }); %>
            <a href="#" class="slidesjs-previous slidesjs-navigation"><img src="/images/slides-left-button.png"></a>
            <a href="#" class="slidesjs-next slidesjs-navigation"><img src="/images/slides-right-button.png"></a>        
        </div>
    </div>
</div>
  
<div class="content">

      <% columns.forEach(function(column, columnIndex) { %>
        <div class="col-<%= columnIndex %>">

            <% column.forEach(function(tile) { %>
              <a class="tile tile-<%= tile.type %>" 

<% if (tile.modalUrl != null) { %>
                data-toggle="modal"
                data-target="#article-modal"
                data-remote="<%= tile.modalUrl %>"
<% } %>
                href="<%= tile.url %>">
                
                <% if (tile.image != null) { %>
                  <img class="tile-image" src="<%= tile.image %>">
                <% } %>

                <% if (tile.category != null) { %>
                  <div class="tile-category"><%= tile.category %></div>
                <% } %>

                  <div class="tile-title-container">              
                      <div class="tile-title"><%= tile.title %></div>                  
                    <% if (tile.text != null) { %>
                      <div class="tile-text"><%= tile.text %></div>
                    <% } %>
                  </div>
              </a>
            <% }); %>

        </div>
      <% }); %>

</div>

<div class="content">
    <div id="orange-footer">
        <div id="orange-footer-tag-line">Your data is more valuable when it's here.</div>
        <a id="orange-footer-start-exploring" href="/explore">Start Exploring</a>
    </div>
</div>

<div id="article-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-content">
        </div>
    </div>
</div>

<% include footer %>