<% include _header %>
<% include _home-bar %>

<section class="red">
    <div class="container">
        <h1>
            Open Data Network
            <a href="https://fast.wistia.net/embed/iframe/0jjxetu1ys?videoWidth=640&videoHeight=360&controlsVisibleOnLoad=true&autoPlay=true&popover=true" class="wistia-popover[width=640,height=360,playerColor=#636155] fa fa-play-circle-o play-video-button"></a>
        </h1>
        <p>
            The Open Data Network connects publishers of high-value data to the businesses,<br>
            developers, and analysts that use, reuse, and enrich data.  The members of the network work<br>
            together to share best practices, adopt standards, and advocate for open data broadly.
        </p>
        <div class="home-search-bar-controls">
            <% include _search-bar-controls %>
        </div>
    </div>
</section>

<% include _home-categories %>

<section class="states">
    <div class="container">
        <h4>Geographical Regions</h4>
        <ul class="states-list states-list-collapsed">

          <% if (locations) locations.forEach(function(location) { %>
            <li class="state state-collapsed">
                <h3>
                    <i class="fa fa-map-marker"></i>
                    <a href="/region/<%= location.id %>/<%= location.name %>"><%= location.name %></a>
                </h3>
                <ul class="regions-list">
                  <% for (var i = 0; i < location.msas.length; i++) { %>
                    <li class="region">
                        <a href="<%= location.msas[i].url %>"><%= location.msas[i].name %></a>
                    </li>
                  <% } %>
                </ul>
                <ul class="regions-list">
                  <% for (var i = 0; i < location.counties.length; i++) { %>
                    <li class="region">
                        <a href="<%= location.counties[i].url %>"><%= location.counties[i].name %></a>
                    </li>
                  <% } %>
                </ul>
                <ul class="regions-list">
                  <% for (var i = 0; i < location.cities.length; i++) { %>
                    <li class="region">
                        <a href="<%= location.cities[i].url %>"><%= location.cities[i].name %></a>
                    </li>
                  <% } %>
                </ul>
                <a class="more-subregions-link">View More</a>
             </li>
          <% }) %>

        </ul>
        <div class="cb"></div>
        <a class="more-regions-link">View More Regions</a>
    </div>
</section>

<section class="partners">
    <div class="container">
        <h4>Partners</h4>
        <div class="slider">
            <div><a href="http://zillow.com"><img src="/images/v3-zillow.png"></a></div>
            <div><a href="https://www.buildingeye.com/"><img src="/images/v3-building-eye.png" alt="Building Eye"></a></div>
            <div><a href="http://civicinsight.com/"><img src="/images/v3-civic-insight.png" alt="Civic Insight"></a></div>
            <div><a href="http://www.basicgov.com/"><img src="/images/v3-basic-gov.png" alt="Basic Gov"></a></div>
            <div><a href="http://www.buildfax.com/"><img src="/images/v3-build-fax.png" alt="Build Fax"></a></div>
            <div><a href="http://www.realtytrac.com/"><img src="/images/v3-realty-trac.png" alt="Realty Trac"></a></div>
            <div><a href="http://www.sitecompli.com/"><img src="/images/v3-site-compli.png" alt="Site Compli"></a></div>
            <div><a href="http://www.ontodia.com/"><img src="/images/v3-ontodia.png" alt="Ontodia"></a></div>
            <div><a href="https://www.accela.com/"><img src="/images/v3-accela.png" alt="Accela"></a></div>
            <div><a href="http://www.citiesense.com/"><img src="/images/v3-citiesense.png" alt="Citiesense></a></div>
            <div><a href="http://seeclickfix.com/"><img src="/images/v3-see-click-fix.png" alt="See Click Fix"></a></div>
            <div><a href="http://broadside.digital"><img src="/images/v3-broadside.png" alt="Broadside Digital - Mobile app developer in Seattle"></a></div>
        </div>
        <a class="join" href="/join">Join the Network</a>
    </div>
</section>

<% include _footer %>
