<% include document-header %>
<% include bar-header %>

<div class="content">

    <h1>Most Popular Open Datasets</h1>
    <p class="subheader">The following lists the all-time, most-viewed, open datasets.</p>

    <table>
      <% results.forEach(function(result) { %>
        <tr class="content-row">
            <td>
                <a class="content-title" href="<%= result.datasetUrl %>"><%= result.name %></a>
<% if (result.description) { %>
                <p class="description"><%= result.description %></p>
<% } %>
<% if (result.portalTitle) { %>
                <p class="description">(source: <a href="<%= result.portalUrl %>"><%= result.portalTitle %></a>)</p>
<% } %>
            </td>
            <td class="content-data">
                <a href="<%= result.datasetUrl %>"><%= result.viewCountString %></a>
                <label class="views">VIEWS</label>
            </td>
        </tr>
      <% }); %>
    </table>
</div>

<% include bar-footer %>
<% include document-footer %>