<% include _header %>
<% include _search-bar %>

<script>
var _params = <%- JSON.stringify(params) %>;
var _searchURL = "<%- searchDatasetsURL %>";
</script>

<% if (!hasRegions) { %>
    <% include _refine-by %>
<% } %>

<section class="results">
    <% if (hasRegions) { %>
        <% include _region-navigation %>

        <div class="charts-column">
            <ul class="chart-tabs">
                <% groups.forEach(function(_group) { %>
                    <li class="<%= (_group.name == params._group) ? 'selected' : '' %>">
                        <a href="<%= getSearchPageUrl(_group.datasets[0]) %>"><%= _group.name %></a>
                    </li>
                <% }); %>
            </ul>
            <ul class="chart-sub-nav">
                <li>
                    <a href=""><%= source.name %><i class="fa fa-caret-down"></i></a>
                    <ul class="chart-sub-nav-menu">
                        <% sources.forEach(function(source) { %>
                            <li><a class="dataset-nav" vector="<%= source.vector %>"><%= source.name %></a></li>
                        <% }); %>
                    </ul>
                </li>
            </ul>

            <div class="charts">
                <div id="map"></div>
                <% include _map-summary %>

                <% source.charts.forEach(chart => { %>
                    <div class='chart' id=<%= chart.name.toLowerCase().replace(/\W/g, '') %>>
                        <h1 class='chart-title'><%= chart.name %></h1>

                        <% if ('description' in chart) { %>
                            <p class='chart-description'><%- chart.description %></p>
                        <% } %>

                        <div class='chart-container'></div>

                        <% if ('forecast' in chart) { %>
                            <p class='chart-footnote dataset-description'>
                                Forecasted data uses a linear extrapolation algorithm
                                which uses only available measured data provided by the
                                <a href="<%= source.attribution.url %>"><%= source.attribution.name %></a>.
                                Algorithm details are available
                                <a href="https://en.wikipedia.org/wiki/Extrapolation#Linear_extrapolation">HERE</a>.
                            </p>
                        <% } %>
                    </div>
                <% }); %>

                <div class="dataset-description">
                    <% if ('description' in source) { %>
                        <p><%- source.description %></p>
                    <% } %>

                    <label class="attribution">
                        Above charts are based on data from the <a href="<%= source.attribution.url %>"><%= source.attribution.name %></a>.
                        <% if ('sourceURL' in source) { %>
                            <a href="<%= source.sourceURL %>">Data Source</a> |
                        <% } %>

                        <a href="<%= source.datasetURL %>">ODN Dataset</a> |
                        <a href="<%= source.apiURL %>">API</a> -
                        <span class='info-icon'>
                            <div class='info-tooltip'>
                                <strong>Notes:</strong>
                                <br /><br />
                                1. ODN datasets and APIs are subject to change and may differ in format from the original source data in order to provide a user-friendly experience on this site.
                                <br /><br />
                                2. To build your own apps using this data, see the ODN Dataset and API links.
                                <br /><br />
                                3. If you use this derived data in an app, we ask that you provide a link somewhere in your applications to the Open Data Network with a citation that states: "Data for this application was provided by the Open Data Network" where "Open Data Network" links to http://opendatanetwork.com. Where an application has a region specific module, we ask that you add an additional line that states: "Data about REGIONX was provided by the Open Data Network." where REGIONX is an HREF with a name for a geographical region like "Seattle, WA" and the link points to this page URL, e.g. http://opendatanetwork.com/region/1600000US5363000/Seattle_WA
                            </div>
                        </span>
                    </label>
                </div>
            </div>

            <% if (searchResults && searchResults.resultSetSizeString > 0) { %>
                <div class="search-results-container">
                    <div class="datasets-header">
                        <h2>
                            <span class="result-count"><%= searchResults.resultSetSizeString %></span>
                            <%= source.name %>
                            Data Set<%= searchResults.resultSetSizeString > 1 ? 's' : '' %>
                            Involving
                            <%= regionNames %>
                        </h2>
                    </div>

                    <ul class="datasets">
                        <% include _search-results-regular %>
                    </ul>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <div class="search-results-regular-column">
          <% if (typeof currentCategory != 'undefined' && currentCategory && currentCategory.metadata && currentCategory.metadata.description) { %>
            <div class="current-category">
                <a class="fa fa-close"></a>
                <strong><%= currentCategory.category %></strong> - <%- currentCategory.metadata.description %>
            </div>
          <% } else if (typeof currentTag != 'undefined' && currentTag && currentTag.metadata && currentTag.metadata.description) { %>
            <div class="current-category">
                <a class="fa fa-close"></a>
                <strong><%= currentTag.tag %></strong> - <%- currentTag.metadata.description %>
            </div>
          <% } %>

            <ul class="datasets">
                <% include _search-results-regular %>
            </ul>
        </div>
    <% } %>
</section>

<% include _google-analytics %>
<% include _usersnap %>

</body>
</html>

<%

function getSearchPageUrl(source) {
    const vector = source.vector;

    var url;

    if (params.regions.length > 0) {

        url = '/region';

        // Region ids
        //
        var regionIds = params.regions.map(function(region) {
            return region.id;
        });

        url += '/' + regionIds.join('-');

        // Region names
        //
        var regionNames = params.regions.map(function(region) {
            return region.name.replace(/ /g, '_').replace(/\//g, '_').replace(/,/g, '');
        });

        url += '/' + regionNames.join('-');

        if (vector)
            url += '/' + vector;
    }
    else {

        url = '/search';
    }

    url += getSearchQueryString();

    return url;
}

function getSearchQueryString() {

    var parts = [];

    if (params.q.length > 0)
        parts.push('q=' + encodeURIComponent(params.q));

    if (params.page > 1)
        parts.push('page=' + params.page);

    if (params.categories.length > 0)
        params.categories.forEach(category => parts.push('categories=' + encodeURIComponent(category)));

    if (params.domains.length > 0)
        params.domains.forEach(domain => parts.push('domains=' + encodeURIComponent(domain)));

    if (params.tags.length > 0)
        params.tags.forEach(tag => parts.push('tags=' + encodeURIComponent(tag)));

    return (parts.length > 0) ? '?' + parts.join('&') : '';
};

function getSelectedVector(vector) {

    if ((params.vector == vector) || ((params.vector == '') && (vector == 'population')))
        return ' class="selected"';
    else
        return '';
}
%>
