<% include v2-header %>
<% include v2-header-bar %>

<script src="/scripts/v2-search.min.js" type="text/javascript"></script>

<section class="search-bar">
    <% include v2-search-textbox %>
</section>

<% if (data) { %>    

<section class="search-results">
    <ul>
        <% data.results.forEach(function(result) { %>
            <li>
                <i class="fa <%= result.classification.categoryGlyphString %>"></i>
                <h2 href="<%= result.link %>"><%= result.resource.name %></h2>
                <a><%= result.resource.domain %></a> <span>| Last Updated: <%= result.resource.updatedAtString.toUpperCase() %></span>
                <p><%= result.resource.description %></p>
                <% if (result.classification.tags.length > 0) { %>
                    <span>Tags:</span>
                    <% result.classification.tags.forEach(function(tag, i) {

                        if (i > 0) { %>, <% } %><a href=""><%= tag %></a><% 
                    }); %>
                <% } %>
            </li>
        <% }); %>
    </ul>
</section>

<% } %>

<% include v2-footer %>
