<% include v2-header %>
<% include v2-header-bar -%>

<script>var _params = <%- JSON.stringify(params) %>;</script>

<div id="container">

    <section class="search-bar">
        <% include v2-search-textbox %>
    </section>

    <section class="search-results">

        <div class="search-categories-pane">
            
            <div class="search-filter-by">
                <span>Filter by Publisher</span>
                <a class="fa fa-caret-down"></a>
            </div>

            <ul class="search-categories-list">
                <li><a id="category-all"<%- getSelectedIfNoCategories() %>><i class="fa fa-list"></i>All Results</a></li>
                <li><a id="category-health"<%- getSelectedIfCategory('Health') %>><i class="fa fa-heart"></i>Health</a></li>
                <li><a id="category-transportation"<%- getSelectedIfCategory('Transportation') %>><i class="fa fa-car"></i>Transportation</a></li>
                <li><a id="category-finance"<%- getSelectedIfCategory('Finance') %>><i class="fa fa-money"></i>Finance</a></li>
                <li><a id="category-social-services"<%- getSelectedIfCategory('Social Services') %>><i class="fa fa-child"></i>Social Services</a></li>
                <li><a id="category-environment"<%- getSelectedIfCategory('Environment') %>><i class="fa fa-leaf"></i>Environment</a></li>
                <li><a id="category-public-safety"<%- getSelectedIfCategory('Public Safety') %>><i class="fa fa-shield"></i>Public Safety</a></li>
                <li><a id="category-housing-and-development"<%- getSelectedIfCategory('Housing & Development') %>><i class="fa fa-building"></i>Housing &amp; Development</a></li>
                <li><a id="category-infrastructure"<%- getSelectedIfCategory('Infrastructure') %>><i class="fa fa-road"></i>Infrastructure</a></li>
                <li><a id="category-education"<%- getSelectedIfCategory('Education') %>><i class="fa fa-graduation-cap"></i>Education</a></li>
                <li><a id="category-recreation"<%- getSelectedIfCategory('Recreation') %>><i class="fa fa-ticket"></i>Recreation</a></li>
            </ul>
        </div>

        <div class="search-results-pane">
            <div class="search-results-header">
                <strong><%= data.resultSetSizeString %></strong> Results

            <% if (data.resultSetSize > 0) { %>
                <% include v2-pager %>
            <% } %>

            </div>
            <ul>
            <% data.results.forEach(function(result) { %>
                <li>
                    <a class="api-link" href="http://dev.socrata.com/foundry/#/<%= result.resource.domain %>/<%= result.resource.id %>">API</a>
                    <i class="fa <%= result.classification.categoryGlyphString %>"></i>
                    <h2><a href="<%= result.link %>"><%= result.resource.name %></a></h2>
                    <a href="http://<%= result.resource.domain %>"><%= result.resource.domain %></a> 
                    <span>| Last Updated: <%= result.resource.updatedAtString.toUpperCase() %></span>
                    <p><%= result.resource.description %></p>
                <% if (result.classification.tags.length > 0) { %>
                    <span>Tags:</span>
                    <% result.classification.tags.forEach(function(tag, i) {

                        if (i > 0) { %>, <% } %><a class="tag"><%= tag %></a><% 
                    }); -%>
                <% } %>
                </li>
            <% }); %>
            </ul>

        <% if (data.resultSetSize > 0) { %>
            <div class="search-results-footer">
                <% include v2-pager %>
            </div>
        <% } %>        
        </div>

    </section>

</div>

<% include v2-footer %>

<%
function getSelectedIfNoCategories() {

    return (params.categories.length == 0) ? ' class="selected"' : '';
}

function getSelectedIfCategory(category) {

    for (var i in params.categories) {

        if (params.categories[i].toLowerCase() == category.toLowerCase())
            return ' class="selected"';
    }

    return '';
}
%>
