<% include v3-header %>

<script>var _params = <%- JSON.stringify(params) %>;</script>

<section class="results-bar">
    <label><strong><%= searchResults.resultSetSizeString %></strong> results for <%= params.q %></label>
</section>

<section class="main">

    <div class="filters-pane">

        <div class="filters-section">
            <strong>CATEGORIES</strong>
            <ul class="filter-pane-categories">
            <% categoryResults.results.forEach(function(result) { %>
                <li><a><span><i class="fa<%- getSelectedIfCategory(result.category) %>"></i></span><%= result.category %></a></li>
            <% }); %>
            </ul>
            <div class="view-more"><i class="fa fa-plus"></i>View More</div>

            <strong>PUBLISHERS</strong>
            <ul class="filter-pane-domains">
            <% domainResults.results.forEach(function(result) { %>
                <li><a><span><i class="fa<%- getSelectedIfDomain(result.domain) %>"></i></span><%= result.domain %></a></li>
            <% }); %>
            </ul>
            <div class="view-more"><i class="fa fa-plus"></i>View More</div>

            <strong>TAGS</strong>
            <ul class="filter-pane-tags">
            <% tagResults.results.forEach(function(result) { %>
                <li><a><span><i class="fa<%- getSelectedIfTag(result.tag) %>"></i></span><%= result.tag %></a></li>
            <% }); %>
            </ul>
            <div class="view-more"><i class="fa fa-plus"></i>View More</div>
        </div>

        <div class="about-section">
            <ul>
                <li><a class="blue-button-link">Leave Feedback</a></li>
                <li><a class="blue-link" href="http://www.socrata.com/company-info/">About Socrata</a></li>
                <li><a class="blue-link" href="http://www.opendatanetwork.com/join-open-data-network">Join the Network</a></li>
                <li><a class="socrata-link" href="http://www.socrata.com/company-info/"><img src="/images/v3-powered-by-socrata.png"></a></li>
            </ul>
        </div>
    </div>

    <div class="search-results-pane">
        <ul>
        <% searchResults.results.forEach(function(result) { %>
            <li>
                <a class="api-link" href="http://dev.socrata.com/foundry/#/<%= result.resource.domain %>/<%= result.resource.id %>">API</a>
                <i class="fa <%= result.classification.categoryGlyphString %>"></i>
                <h2><a href="<%= result.link %>"><%= result.resource.name %></a></h2>
                <a href="http://<%= result.resource.domain %>"><%= result.resource.domain %></a> 
                <span>| Last Updated <%= result.resource.updatedAtString.toUpperCase() %></span>
                <p><%= result.resource.description %></p>
            <% if (result.classification.tags.length > 0) { %>
                <span>Tags:</span>
                <% result.classification.tags.forEach(function(tag, i) {

                    if (i > 0) { %>, <% } %><a class="tag"><%= tag %></a><% 
                }); -%>
            <% } %>
            </li>
        <% }); %>
        </ul>
    </div>

    <div class="showcase-pane">
    </div>

</section>

<%
function getSelectedIfCategory(category) {

    for (var i in params.categories) {

        if (params.categories[i].toLowerCase() == category.toLowerCase())
            return ' fa-check';
    }

    return '';
}

function getSelectedIfDomain(domain) {

    for (var i in params.domains) {

        if (params.domains[i].toLowerCase() == domain.toLowerCase())
            return ' fa-check';
    }

    return '';
}

function getSelectedIfTag(tag) {

    for (var i in params.tags) {

        if (params.tags[i].toLowerCase() == tag.toLowerCase())
            return ' fa-check';
    }

    return '';
}
%>
