<% searchResults.results.forEach(function(result) { %>
    <li>
        <a class="api-link" href="http://dev.socrata.com/foundry/#/<%= result.resource.domain %>/<%= result.resource.id %>">API</a>
        <i class="fa <%= result.classification.categoryGlyphString %>"></i>
        <h2><a href="<%= result.link %>"><%= result.resource.name %></a></h2>
        <a href="http://<%= result.resource.domain %>"><%= result.resource.domain %></a> 
        <span>| Last Updated <%= result.resource.updatedAtString.toUpperCase() %></span>
        <p><%= result.resource.description %></p>
    <% if (result.classification.tags.length > 0) { %>
        <span class="tagLabel">Tags:</span>
        <% result.classification.tags.forEach(function(tag, i) {

            if (i > 0) { %>, <% } %><a class="tag"><%= tag %></a><% 
        }); -%>
    <% } %>
    </li>
<% }); %>
