<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Find the data you need to power your business, app, or analysis from across the open data ecosystem." />
    <meta name="keywords" content="open data, government data, housing data, restaurant inspecitions data, transit data, health data, crime data, permit data" />
    <title>Find the data you need to power your business, app, or analysis from across the open data ecosystem.</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/styles/v4-app.min.css" rel="stylesheet">
<% css.forEach(function(path) { -%>
    <link href="<%= path %>" rel="stylesheet">
<% }); -%>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/scripts/v4-app.min.js"></script>
<% scripts.forEach(function(o) { if (typeof o == 'string') { -%>
    <script src="<%= o %>"></script>
<% } else { -%>
    <script src="<%= o.url %>" charset="<%= o.charset %>"></script>
<% }}); -%>
</head>
<body>
<header>
    <a class="logo" href="/" title="Open Data Network"></a>
    <div class="menus">
        <div id="menu-item-communities">
            <a class="menu-item-link">Data by Category<i class="fa fa-caret-down"></i></a>
            <ul id="menu-communities" class="menu">
              <% allCategoryResults.results.forEach(function(result) { %>
                <li><a href="/search?categories=<%= encodeURIComponent(result.category) %>"><%= result.category %></a></li>
              <% }); %>
            </ul>
        </div>
    </div>
</header>

<section class="search-bar">
    <form method="GET" action="v4-search" id="form" autocomplete="off">
        <a class="fa fa-search search-link"></a><a class="fa fa-caret-down search-options-link"></a>
        <span><input type="text" placeholder="Search the Open Data Network" name="q" id="q" value="<%= params.q %>"></span>
        <input type="hidden" name="categories" id="categories" value="<%= params.categories.join(',') %>">
        <% if (params.domains.length > 0) { %><input type="hidden" name="domains" value="<%= params.domains.join(',') %>"><% } %>
        <% if (params.tags.length > 0) { %><input type="hidden" name="tags" value="<%= params.tags.join(',') %>"><% } %>
    </form>
    <ul class="region-list" style="display:none"></ul>
    <div class="search-options-menu">
        <div class="search-options-menu-title">Search in</div>
        <div class="search-options-menu-all"><a><i class="fa fa-check"></i>All Categories</a></div>
        <ul>
          <% allCategoryResults.results.forEach(function(result) { %>
            <li><a><i class="fa fa-check"></i><%= result.category %></a></li>
          <% }) %>
        </ul>
    </div>
  <% if (tooltips) { %>
    <div class="search-textbox-tip">
        <div><strong>Start your search here.</strong> Search for data like Crime, Budget, etc.</div>
    </div>
    <div class="search-dropdown-tip">
        <div>Click here to refine your search.</div>
    </div>
  <% } %>
</section>