<% include v4-header %>

<script>var _params = <%- JSON.stringify(params) %>;</script>
<% if (params.debug) { %><script>console.log(decodeURIComponent('<%- searchDatasetsUrl %>'));</script><% } %>

<section class="refine">

    <a class="refine-link">
        <span>Standards<i class="fa fa-caret-down"></i></span>
        <ul id="refine-menu-standards" style="display:none">
            <li>BLDS</li>
            <li>LIVES</li>
        </ul>
    </a>

    <a class="refine-link">
        <span>Publishers<i class="fa fa-caret-down"></i></span>
        <ul id="refine-menu-domains" style="display:none">
          <% domainResults.results.forEach(function(result) { %>
            <li><%= result.domain %></li>
          <% }); %>
            <li id="refine-menu-domains-view-more" class="refine-view-more">View More...</li>
        </ul>
    </a>

    <a class="refine-link">
        <span>Categories<i class="fa fa-caret-down"></i></span>
        <ul id="refine-menu-categories" style="display:none">
          <% categoryResults.results.forEach(function(result) { %>
            <li><i class="fa <%= result.metadata.icon %>"></i><%= result.category %></li>
          <% }); %>
            <li id="refine-menu-categories-view-more" class="refine-view-more">View More...</li>
        </ul>
    </a>

    <label class="refine-by-label">Refine by:</label>

    <label><strong><%= searchResults.resultSetSizeString %></strong>
    <% if ((params.q.length > 0) || (params.regions.length > 0)) { %> results for <% } else { %> results <% }%>
    <% if (params.q.length > 0) { %>
        <strong><%= params.q %></strong>
    <% } %>
    
    <ul class="tokens">
    <% params.regions.forEach(function(region) { %>
        <li class="region-token"><%= region.name %> <a class="fa fa-times-circle"></a></li>
    <% }); %>
    <% params.categories.forEach(function(category) { %>
        <li class="category-token"><%= category %> <a class="fa fa-times-circle"></a></li>
    <% }); %>
    <% params.domains.forEach(function(domain) { %>
        <li class="domain-token"><%= domain %> <a class="fa fa-times-circle"></a></li>
    <% }); %>
    <% params.standards.forEach(function(standard) { %>
        <li class="standard-token"><%= standard %> <a class="fa fa-times-circle"></a></li>
    <% }); %>
    </ul>

</section>

<section class="results">

<% if (params.regions.length == 0) { %>

    <div class="search-results-regular-column">
        <ul class="datasets">
<% include v4-search-results-regular %>
        </ul>
    </div>

<% } else { %>

    <div class="search-results-compact-column">
        <ul class="datasets">
<% include v4-search-results-compact %>
        </ul>
    </div>

    <div class="charts-column">

        <ul class="chart-tabs">
            <li<%- getSelectedVector(['','population']) %>><a href="<%= getSearchPageUrl('population') %>">Population</a></li>
            <li<%- getSelectedVector(['earnings']) %>><a href="<%= getSearchPageUrl('earnings') %>">Earnings</a></li>
            <li<%- getSelectedVector(['education']) %>><a href="<%= getSearchPageUrl('education') %>">Education</a></li>
            <li<%- getSelectedVector(['occupations']) %>><a href="<%= getSearchPageUrl('occupations') %>">Occupations</a></li>
            <li<%- getSelectedVector(['gdp']) %>><a href="<%= getSearchPageUrl('gdp') %>">GDP</a></li>
            <li<%- getSelectedVector(['cost_of_living']) %>><a href="<%= getSearchPageUrl('cost_of_living') %>">Cost of Living</a></li>
            <li<%- getSelectedVector(['health']) %>><a href="<%= getSearchPageUrl('health') %>">Health</a></li>
        </ul>

        <div class="charts">

<% if ((params.vector == '') || (params.vector == 'population')) { %>

            <div id="map"></div>
            <h1>Population</h1>
            <figure id="population-chart"></figure>
            <h1>Population Change</h1>
            <figure id="population-change-chart"></figure>

<% } else if (params.vector == 'earnings') { %>

            <div id="map"></div>
            <h1>Earnings</h1>
            <table id="earnings-table"></table>
            <figure id="earnings-chart"></figure>

<% } else if (params.vector == 'education') { %>

            <div id="map"></div>
            <h1>Education</h1>
            <table id="education-table"></table>

<% } else if (params.vector == 'occupations') { %>

            <h1>Occupations</h1>
            <table id="occupations-table"></table>

<% } else if (params.vector == 'gdp') { %>

            <h1>GDP</h1>
            <figure id="per-capita-gdp-chart"></figure>
            <figure id="per-capita-gdp-change-chart"></figure>

<% } else if (params.vector == 'health') { %>

            <h1>Health</h1>
            <h2 style='font-weight: normal;'>RWJF County Health Rankings</h2>
            <p>
                The Robert Wood Johnson Foundation produces health rankings for states and counties. 
                They explore many aspects of health including quality of life, health behaviors,
                access to clinical care, socioeconomic factors, and environmental factors.
            </p>

            <table id="rwjf-county-health-rankings-table"></table>
            <label>Data from RWJF County Health Rankings. <a href='http://www.countyhealthrankings.org/'>Source</a> | <a href='https://odn.data.socrata.com/d/6a3g-pbaa'>ODN Dataset</a> | <a href='https://dev.socrata.com/foundry/#/odn.data.socrata.com/6a3g-pbaa'>API</a></label>

<% } else if (params.vector == 'cost_of_living') { %>

            <h1>Cost of Living</h1>
            <table id="cost-of-living-table"></table>
            <figure id="cost-of-living-all-chart"></figure>
            <h1>Goods</h1>
            <figure id="cost-of-living-goods-chart"></figure>
            <h1>Rents</h1>
            <figure id="cost-of-living-rents-chart"></figure>
            <h1>Other</h1>
            <figure id="cost-of-living-other-chart"></figure>

<% } %>
            <label>Data from the 2013 U.S. Census American Community Survey</label>
        </div>

    </div>

    <div class="controls-column">
        <div class="controls">
            <h1>Compare this Data</h1>
            <div class="add-region">
                <i class="fa fa-plus"></i><input type="text" placeholder="Add Location">
                <ul style="display: none;"></ul>
            </div>
            <ul id="similar-regions" style="display:none"></ul>
            <h2 id="places-in-region-header-0" class="places-in-region-header" style="display:none"></h2>
            <ul id="places-in-region-list-0" class="places-in-region-list" style="display:none"></ul>
            <h2 id="places-in-region-header-1" class="places-in-region-header" style="display:none"></h2>
            <ul id="places-in-region-list-1" class="places-in-region-list" style="display:none"></ul>
        </div>
        <div class="footer">
            <ul class="footer-links">
                <li><a class="blue-link" href="http://www.socrata.com/company-info/">About Socrata</a></li>
                <li><a class="blue-link" href="http://www.opendatanetwork.com/join-open-data-network">Join the Network</a></li>
            </ul>
            <a href="http://www.socrata.com/company-info/"><img src="/images/v3-powered-by-socrata.png"></a>
        </div>
    </div>

<% } %>

</section>

<% include v4-google-analytics %>

</body>
</html>

<%
function getSearchPageUrl(vector) {

    var url;

    if ((params.regions.length > 0) || (params.autoSuggestedRegion != null)) {

        url = '/';

        var regionNames = params.regions.map(function(region) {
            return region.name.replace(/,/g, '').replace(/ /g, '_');
        });

        url += regionNames.join('_vs_');

        if (vector) 
            url += '/' + vector;
    }
    else {

        url = '/search';
    }

    url += getSearchQueryString();

    return url;
}

function getSearchQueryString() {

    var url = '?q=' + encodeURIComponent(params.q);

    if (params.page > 1)
        url += '&page=' + params.page;

    if (params.categories.length > 0)
        url += '&categories=' + encodeURIComponent(params.categories.join(','));

    if (params.domains.length > 0)
        url += '&domains=' + encodeURIComponent(params.domains.join(','));

    if (params.standards.length > 0)
        url += '&standards=' + encodeURIComponent(params.standards.join(','));

    if (params.debug)
        url += '&debug=';

    return url;
};

function getSelectedVector(vectors) {

    for (var i in vectors) {

        if (vectors[i] == params.vector) 
            return ' class="selected"'; 
    }

    return ''; 
}
%>