<% include v4-header %>

<script>var _params = <%- JSON.stringify(params) %>;</script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>

<section class="refine">

    <div class="summary">
        <a class="refine-button">
            Refine<i class="fa fa-caret-down"></i>
        </a>
        <i class="fa fa-search"></i>
        <label><strong><%= searchResults.resultSetSizeString %></strong> results for
        <% if (params.q.length > 0) { %>
            <strong><%= params.q %></strong>
        <% } %>
        <ul class="regions">
        <% params.regions.forEach(function(region) { %>
            <li><%= region.name %> <a class="fa fa-times-circle"></a></li>
        <% }); %>
        </ul>
    </div>

    <div class="text-entry" style="display:none;">
        <i class="fa fa-search"></i>
        <form method="get" action="<%= getSearchPageUrl() %>">
            <input type="text" value="<%= params.q %>" id="q" name="q" autocomplete="off">
        </form>
        <ul class="region-list" style="display:none;"></ul>
    </div>

</section>

<section class="results">

    <div class="datasets-column">
        <ul class="datasets">
          <% searchResults.results.forEach(function(result) { %>
              <li>
                  <div><a class="name" href="<%= result.link %>"><%= result.resource.name %></a></div>
                  <div><a class="domain" href="http://<%= result.metadata.domain %>"><%= result.metadata.domain %></a></div>
              </li>
          <% }); %>
        </ul>
    </div>

<% if ((params.regions != null) && (params.regions.length > 0)) { %>

    <div class="charts-column">

        <ul class="chart-tabs">
            <li<%- getSelectedVector('population') %>><a href="<%= getSearchPageUrl('population') %>">Population</a></li>
            <li<%- getSelectedVector('earnings') %>><a href="<%= getSearchPageUrl('earnings') %>">Earnings</a></li>
            <li<%- getSelectedVector('education') %>><a href="<%= getSearchPageUrl('education') %>">Education</a></li>
            <li<%- getSelectedVector('occupations') %>><a href="<%= getSearchPageUrl('occupations') %>">Occupations</a></li>
            <li<%- getSelectedVector('gdp') %>><a href="<%= getSearchPageUrl('gdp') %>">GDP</a></li>
            <li<%- getSelectedVector('cost_of_living') %>><a href="<%= getSearchPageUrl('cost_of_living') %>">Cost of Living</a></li>
        </ul>

        <div class="charts">

<% if (params.vector == 'population') { %>

            <h1>Population</h1>
            <figure id="population-chart"></figure>
            <h1>Population Change</h1>
            <figure id="population-change-chart"></figure>
            <label>Data from the 2013 U.S. Census American Community Survey</label>

<% } else if (params.vector == 'earnings') { %>

            <h1>Earnings</h1>
            <table id="earnings-table"></table>
            <figure id="earnings-chart"></figure>
            <label>Data from the 2013 U.S. Census American Community Survey</label>

<% } else if (params.vector == 'education') { %>

            <h1>Education</h1>
            <table id="education-table"></table>
            <label>Data from the 2013 U.S. Census American Community Survey</label>

<% } else if (params.vector == 'occupations') { %>

            <h1>Occupations</h1>
            <table id="occupations-table"></table>
            <label>Data from the 2013 U.S. Census American Community Survey</label>

<% } else if (params.vector == 'gdp') { %>

            <h1>GDP</h1>
            <figure id="per-capita-gdp-chart"></figure>
            <figure id="per-capita-gdp-change-chart"></figure>

<% } else if (params.vector == 'cost_of_living') { %>

            <h1>Cost of Living</h1>
            <table id="cost-of-living-table"></table>
            <figure id="cost-of-living-all-chart"></figure>
            <h1>Goods</h1>
            <figure id="cost-of-living-goods-chart"></figure>
            <h1>Rents</h1>
            <figure id="cost-of-living-rents-chart"></figure>
            <h1>Other</h1>
            <figure id="cost-of-living-other-chart"></figure>
            <label>Data from the 2013 U.S. Census American Community Survey</label>

<% } %>
        </div>

    </div>

<% } %>

    <div class="controls-column">
        <div class="controls">
            <h1>Compare this Data</h1>
            <div class="add-region">
                <i class="fa fa-plus"></i><input type="text" placeholder="Add Location">
            </div>
            <ul class="similar-regions">
                <li><span><i class="fa fa-check"></i></span>Texas</li>
                <li><span><i class="fa"></i></span>New York</li>
                <li><span><i class="fa"></i></span>Florida</li>
                <li><span><i class="fa"></i></span>Pennslyvania</li>
                <li><span><i class="fa"></i></span>Illinois</li>
            </ul>
            <h2>Places in California</h2>
            <ul class="places-in-region">
                <li>Omare</li>
                <li>Aenean</li>
                <li>Vestibulum</li>
                <li>Sollictuddin</li>
                <li>Cras</li>
            </ul>
        </div>
        <div class="footer">
            <ul class="footer-links">
                <li><a class="blue-link" href="http://www.socrata.com/company-info/">About Socrata</a></li>
                <li><a class="blue-link" href="http://www.opendatanetwork.com/join-open-data-network">Join the Network</a></li>
            </ul>
            <a href="http://www.socrata.com/company-info/"><img src="/images/v3-powered-by-socrata.png"></a>
        </div>
    </div>

</section>

<% include v4-google-analytics %>

</body>
</html>

<%
function getSearchPageUrl(vector) {

    var url;

    if ((params.regions.length > 0) || (params.autoCompletedRegion != null)) {

        url = '/';

        var regionNames = params.regions.map(function(region) {
            return region.name.replace(/,/g, '').replace(/ /g, '_');
        });

        url += regionNames.join('_vs_');

        if (vector) 
            url += '/' + vector;
    }
    else {

        url = '/v4-search';
    }

    return url;
}

function getSelectedVector(vector) {

    return (vector == params.vector) ? ' class="selected"' : ''; 
}
%>